@import '../mixins';

$width: 300px;
$height: 600px;
$sizeModifier: 1;
$baseFontSize: 35px;

.container {
  width: $width;
  height: $height;
  overflow: hidden;

  #header-text {
    line-height: 37px;
    letter-spacing: -1px;
    top: 18px;
    left: 10px;
    font-size: 38px;
  }
  .destination-title {
    position: relative;
    font-size: 26px;
    margin-right: 5px;
    width: 235px;
    text-align: left;
    line-height: 30px;  
  }
}
.content {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px 20px 50px 20px;
  margin-top: -50px;
  text-align: center;
  &.textSlide {
    h1 {
      line-height: 35px;
      font-size: 31px;
    }
  }
}

#cta {
  line-height: 33px;
  font-size: 14px;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 0 10px 0 12px;
  height: 32px;

  svg {
    top: 12px;
    height: 8px;
    right: 8px;
    width: 10px;  
  }
}

#finnair {
  width: 80px;
  height: 12.1px;
  right: 10px;
  bottom: 10px;
}

#oneworld {
  left: 10px;
  bottom: 8px;
  width: 15px;
}

.campaign-bar {
  width: $width - 20;
  height: 40px;
  font-size: 14px;
}

.destinations {
  align-items: center;
  width: 100%;
  height: 30%;
  padding: 0 20px 0 20px;
  justify-content: space-between;

  &:before {
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 222px;
    color: #0b1560;
    width: 110px;
    text-align: center;
  }
}

.dest-container {
  width: 115px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: flex-start;
}

#SlideWrapper {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.size_300x600 {
  $i: 1;
  .destinations.threeItems {
    // backup HK $multiplier: $i*26px;
    $multiplier: $i*31px;
    @include flipItem($multiplier)
  }
  .destinations.fourItems {
    $multiplier: $i*21px;
    @include flipItem($multiplier)
  }
  .destinations.fiveItems {
    $multiplier: $i*20px;
    @include flipItem($multiplier)
  }
  .destinations.sixItems {
    $multiplier: $i*18px;
    @include flipItem($multiplier)
  }

  /* Single Dest size */
  .destinations.single-dest.threeItems {
    $multiplier: $i*26px;
    @include flipItem($multiplier)
  }
  .destinations.single-dest.fourItems {
    $multiplier: $i*22px;
    @include flipItem($multiplier)
  }
  .destinations.single-dest.fiveItems {
    $multiplier: $i*20px;
    @include flipItem($multiplier)
  }
  .destinations.single-dest.sixItems {
    $multiplier: $i*18px;
    @include flipItem($multiplier)
  }
}