@font-face {
  font-family: Amplitude-light;
  src: url("../7bbddcb323d4dae3e11aba6f919605f6.woff") format("woff");
  /* src: url(amplitude-light.woff) format("woff"); */
  font-weight: 300;
}
@font-face {
  font-family: Amplitude-Bold;
  src: url("../2ca83e04ce5b4e06b4512ab7b24be7df.woff") format("woff");
  /* src: url(amplitude-bold.woff) format("woff"); */
  font-weight: 700;
}
